flask
flask-cors
llama-index
llama-index-llms-gemini
llama-index-llms-groq
termcolor
keras
pandas
numpy
tqdm
scikit-learn
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
python-dotenv
gunicorn
psutil